<div class="row">
    <div class="current-skills col-5">
        <h3>Current Skills</h3>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/html5.png" alt="HTML5"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar html-lang"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/CSS3.png" alt="CSS3"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar css-lang"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/JS.png" alt="JavaScript"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar js-lang"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/jquery.png" alt="jQuery"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar jquery-lang"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/git.png" alt="GIT"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar git-lang"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/sass.png" alt="SASS"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar sass-lang"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/bootstrap.png" alt="Bootstrap"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar bootstrap-lang"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 logo"><img src="assets/images/angular.png" alt="AngularJS"></div>
            <div class="col-8">
                <div class="progress">
                    <div class="bar angularjs-lang"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="planned-skills col-3">
        <h3>Planned Skills</h3>
        <div>
            <ul>
                <li>Adobe Photoshop</li>
                <li>CorelDraw</li>
                <li>mySql</li>
                <li>PHP</li>
            </ul>
        </div>
    </div>
</div>