<div class="row">
	<div class="welcome-section col-12">
		<div class="row intro-section">
			<img class="greeting-photo col-2 col-ms-4 col-mm-4 col-ml-4 col-t-4" src="assets/images/sandraptaszek.jpg" alt="Sandra Ptaszek">
			<div class="col-6 col-ms-4 col-mm-4 col-ml-4 col-t-4">
				<div class="intro-text-container bounce">
					<div class="intro-text">
						<h2>{{'Hi! My name is' | translate }}</h2> <h2>Sandra</h2>
						<p>{{ 'I\'m a' | translate }} <span>{{'junior web developer' | translate }}</span></p>
						<p>{{ 'and a' | translate }} <span>{{ 'future frontend developer!' | translate }}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>