<div class="row">
    <div class="about-me col-4 col-offset-2">
        <h3>About me</h3>
        <p>My name is Sandra and I'm 24 years old. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
            quidem, nam. Odit amet libero deleniti doloribus alias numquam possimus, ipsum quam hic praesentium
            laboriosam eius totam repellat nisi eum tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Libero odio veritatis saepe architecto pariatur eos fugit vel molestiae, itaque laboriosam eveniet, illo
            fuga rerum, temporibus corporis explicabo, sit iusto autem!</p>
    </div>
    <div class="interests col-4">
        <h3>Interests</h3>
        <div class="circle-interests">
            <ul>
                <li>
                    <div><span>Animals</span></div>
                </li>
                <li>
                    <div><span>Cooking</span></div>
                </li>
                <li>
                    <div><span>Reading</span></div>
                </li>
                <li>
                    <div><span>Watching movies</span></div>
                </li>
                <li>
                    <div><span>Coding, especially CSS</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
