<section class="row nav">
	<div class="col-3 col-ms-5 col-mm-5 col-ml-5 col-t-5">
		<h1>Sandra Ptaszek</h1>
	</div>
<!-- START MAIN NAVIGATION -->
	<nav class="col-9 col-ms-7 col-mm-7 col-ml-7 col-t-7">
		<ul>
			<li>
				<a href="#about-me" du-smooth-scroll>{{'About Me' | translate }}</a>
			</li>
			<li>
				<a href="#skills" du-smooth-scroll>{{'Skills' | translate }}</a>
			</li>
			<li>
				<a href="#portfolio" du-smooth-scroll>{{'Portfolio' | translate}}</a>
			</li>
			<li>
				<a href="#contact" du-smooth-scroll>{{'Contact' | translate}}</a>
			</li>
			<li>
				<change-language-img></change-language-img>
			</li>
		</ul>
	</nav>
<!-- END MAIN NAVIGATION -->
</section>
<!-- START HAMBURGER MENU FOR MOBILES -->
<section>
	<input type="checkbox" class="checkbox" id="checkbox" />
	<label class="fa fa-bars hamburger-menu" aria-hidden="true" for="checkbox"></label>
	<ul class="mobile-menu">
		<li>
			<a href="#about-me" du-smooth-scroll>{{'About Me' | translate }}</a>
		</li>
		<li>
			<a href="#skills" du-smooth-scroll>{{'Skills' | translate }}</a>
		</li>
		<li>
			<a href="#portfolio" du-smooth-scroll>{{'Portfolio' | translate}}</a>
		</li>
		<li>
			<a href="#contact" du-smooth-scroll>{{'Contact' | translate}}</a>
		</li>
		<li>
			<change-language-img></change-language-img>
		</li>
		</ul>
</section>
<!-- END HAMBURGER MENU FOR MOBILES -->s