* {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #e6e6e6;
	text-align: justify;
    text-shadow: 1px 1px 1px #000;
    line-height: 32px;
}

body {
	margin: 0px;
}

/*   NAV   */
.nav {
	position: fixed;
	width: 100%;
	background-color: #34393c;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
	margin: 0;
	padding: 15px;
	font-family: 'Dancing Script', cursive;
	color: #fff;
}

nav ul {
	margin: 0px;
	padding: 15px;
	width: 100%;
	list-style: none;
	text-align: right;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 10px;
	text-decoration: none;
	text-shadow: 1px 1px 5px #222;
	color: #bfbfbf;
}

nav ul li a:hover {
	color: #e178b8;
	transition: color 0.5s;
}

.mobile-menu {
	transition: opacity 0.4s ease-out;
    opacity: 0; 
    height: 0;
    margin: 0;
    overflow: hidden;
}

.checkbox {
	display: none;
	transition: all 0.5s;
}

.hamburger-menu{
	display: none;
}

/* Welcome Section */

.welcome-section {
	height: 700px;
	margin-top: 49px;
	background-image: url('images/background.jpg');
	background-position-y: 30px;
    background-attachment: fixed;
    background-size: cover;
}

.intro-section {
	margin-top: 150px;
}

.intro-text {
	padding: 25px;
	margin: 0 30px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20%;
	font-size: 17px;
}

h2, .intro-text p {
	text-align: center;
}

h2 {
	font-size: 30px;
}

.intro-text p span {
	font-size: 20px;
}

/*About me section*/

.about-me-section {
	width: 100%;
	background-color: #34393c;
}

.about-me h3, .interests h3{
	font-size: 30px;
	text-align: center;
}
	/* Circle interests */

.circle-interests {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 50px auto;
}

.circle-interests ul {
	position: absolute;
	width: 250px;
	height: 250px;
	margin: 25px;
	padding: 0;
	list-style: none;
	border-radius: 50%;
}

.circle-interests .center {
	position: absolute;
	top: 150px;
	left: 150px;
	border-radius: 50%;
}

.circle-interests li {
	position: absolute;
	top: -35px;
	left: -35px;
	width: 160px;
	height: 160px;
	transform-origin:  100% 100%;
}

.circle-interests li:nth-child(1) {
    transform: rotate(63deg);
}
.circle-interests li:nth-child(2) {
    transform: rotate(135deg);
}
.circle-interests li:nth-child(3) {
    transform: rotate(207deg);
}
.circle-interests li:nth-child(4) {
    transform: rotate(279deg);
}
.circle-interests li:nth-child(5) {
    transform: rotate(351deg);
}

.circle-interests li div {
	display: flex;
	align-items: center;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 0;
	right: 40%;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.circle-interests li div span {
	text-align: center;
	margin: 0 auto;
}

.circle-interests li:nth-child(1) div{
    transform: rotate(-63deg);
    background-image: url('images/cat.jpg');
	background-position: center;
	background-size: cover;
}
.circle-interests li:nth-child(2) div{
    transform: rotate(225deg);
    background-image: url('images/cooking.jpeg');
	background-position: center;
	background-size: cover;
}
.circle-interests li:nth-child(3) div{
    transform: rotate(153deg);
    background-image: url('images/reading.jpg');
	background-position: center;
	background-size: cover;
}
.circle-interests li:nth-child(4) div{
    transform: rotate(81deg);
    background-image: url('images/movies.jpeg');
	background-position: center;
	background-size: cover;
}
.circle-interests li:nth-child(5) div{
    transform: rotate(9deg);
    background-image: url('images/coding.jpg');
	background-position: center;
	background-size: cover;
}